*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(15, 32, 45);
}

main{
    background-color: rgb(245, 245, 245);
    height: 700px;
    width: 700px;
}

main h1{
    font-size: 100px;
    font-weight: normal;
}

.die{
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.die--value{
    font-size: 64px;
    font-weight: bold;
}

#roll-button{
    font-size: 40px;
}